@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
}

main {
  margin-inline: auto;
  background: white;
  position: absolute;
  top: 3.5rem;
  bottom: 1rem;
  left: 5%;
  right: 5%;
}

.lb-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.lb-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.lb-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.btn {
  height: 32px;
  padding-inline: 1rem;
  font-weight: 500;
  font: inherit;
  font-size: 0.85rem;
}

.btn-solid {
  border-radius: 5px;
  background-color: #023e8a;
  color: white;
}

.btn-outline {
  border-radius: 5px;
  border: 1px solid #023e8a;
  color: #023e8a;
  background-color: white;
}

.send-btn {
  color: #007200;
  border-color: #007200;
  border: 1px solid #007200;
  border-radius: 8px;
  width: 50%;
  height: 25%;
  display: grid;
  place-items: center;
}

.send-btn:hover {
  color: white;
  background-color: #007200;
}

table tr:nth-of-type(even) {
  background-color: #efefef;
}

table tr:hover {
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* table tr:nth-of-type(even) {
  background: #efefef;
}

table tr:hover {
  border: 1px solid gray;
  cursor: pointer;
} */

/* Header styling */
/* header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 62px;
  z-index: 100;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
} */

/* nav {
  display: flex;
  flex: 1;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  height: 62px;
}

nav > div > div {
  display: flex;
  flex-direction: row;
  gap: 1.35rem;
} */

.logo {
  letter-spacing: 0.5em;
  color: darkcyan;
  font-weight: 500;
  font-size: 1.5rem;
}

.dropdown-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Add New Document Style */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: grid;
  place-items: center;
}

.modal {
  background-color: white;
  width: 30%;
}

.modal-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  background-color: #023e8a;
  color: white;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}

.modal-header > div:first-of-type {
  width: 28px;
  height: 28px;
}

.modal-header img {
  display: block;
  max-width: 100%;
}

.modal-header > div:last-of-type {
  margin-left: auto;
}

.modal-header > div:last-of-type:hover {
  cursor: pointer;
}

.form-control {
  width: 100%;
  padding: 0.5rem 1rem;
}

.form-control label {
  font-size: 0.85rem;
  font-weight: 500;
}

.form-control input {
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  font: inherit;
  padding-inline: 0.5rem;
  height: 32px;
}

.submit-btn {
  background-color: #007200;
  color: white;
  height: 30px;
  padding-inline: 1rem;
  font-size: 0.9rem;
}

.submit-btn.close {
  background-color: #d00000;
}

/* Send Document Style */
.search-user {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 12px;
}

.search-user > input {
  border: 0;
  outline: 0;
}

.searched-users {
  margin-inline: 1rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid gray;
  max-height: 200px;
  overflow-y: auto;
}

.searched-user {
  padding: 0.25rem 1rem;
  border-bottom: 1px solid gray;
}

.searched-user:hover {
  cursor: pointer;
  background-color: #d5d5d5;
}

.searched-user > p:first-of-type {
  font-size: 0.9rem;
  font-weight: 500;
}

.searched-user > p:last-of-type {
  font-size: 0.875rem;
  font-weight: 500;
}

.searched-user:last-of-type {
  border: 0;
}

.send-to-box {
  background-color: #dbfeb8;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.send-to-box p {
  font-size: 0.85rem;
}

.clear-user:hover {
  box-shadow: none;
}

.return-btn {
  background-color: #d00000;
}
